body {
    background-color:blanchedalmond;
}

h1 {
    font-size: 40px;
    text-align: center;
}

h3, h4 {
    text-align: center;
}

h4 {
    color:rgb(150, 128, 32);
}

ul,ol {
    list-style-position: inside;
    border: 2px double rgb(238, 54, 84);
}

.reci-navs>li {
    width: 11%;
    margin: 0 auto;
    padding: 10px;
}

img {
    text-align: center;
    margin: 0 auto;
    display: block;
}

.nav,
.nav~li {
    line-height: 2em;
    font-size: 20px;
}
h4~ul>li, h4~ol>li {
    width: 40%;
    margin: 0 auto;
    padding: 3px;
}
li>a:hover {
    color: rgb(240, 36, 36);
    font-size: 2em;
}

strong {
    color:rgb(230, 86, 86);
}